#include "resource.h"

IDI_APPICON       ICON   "../assets/icon/icon.ico"
IDI_APPICON_SMALL ICON   "../assets/icon/icon_small.ico"

// Font Awesome Solid font, embedded as binary resource
IDR_FA_FONT RCDATA "../assets/fonts/fa-solid-900.ttf"

// Microsoft Fluent System Icons Regular, embedded under the MIT license
IDR_FLUENT_REGULAR_FONT RCDATA "../assets/fonts/FluentSystemIcons-Regular.ttf"

// Fictional application icons for privacy-safe store screenshots.
IDR_DEMO_ICON_PROJECTS  RCDATA "../assets/demo_icons/projects.png"
IDR_DEMO_ICON_DESIGN    RCDATA "../assets/demo_icons/design.png"
IDR_DEMO_ICON_FOCUS     RCDATA "../assets/demo_icons/focus.png"
IDR_DEMO_ICON_WORKSPACE RCDATA "../assets/demo_icons/workspace.png"
IDR_DEMO_ICON_NOTES     RCDATA "../assets/demo_icons/notes.png"
IDR_DEMO_ICON_ARCHIVE   RCDATA "../assets/demo_icons/archive.png"
IDR_DEMO_ICON_MEDIA     RCDATA "../assets/demo_icons/media.png"
IDR_DEMO_ICON_MAIL      RCDATA "../assets/demo_icons/mail.png"
IDR_DEMO_ICON_CALENDAR  RCDATA "../assets/demo_icons/calendar.png"
IDR_DEMO_ICON_TOOLS     RCDATA "../assets/demo_icons/tools.png"
IDR_DEMO_ICON_IDEAS     RCDATA "../assets/demo_icons/ideas.png"
IDR_DEMO_ICON_EXPLORE   RCDATA "../assets/demo_icons/explore.png"
IDR_DEMO_ICON_PHOTOS    RCDATA "../assets/demo_icons/photos.png"
IDR_DEMO_ICON_MUSIC     RCDATA "../assets/demo_icons/music.png"
IDR_DEMO_ICON_CODE      RCDATA "../assets/demo_icons/code.png"
IDR_DEMO_ICON_DATA      RCDATA "../assets/demo_icons/data.png"
IDR_DEMO_ICON_DOCUMENTS     RCDATA "../assets/demo_icons/documents.png"
IDR_DEMO_ICON_PRESENTATIONS RCDATA "../assets/demo_icons/presentations.png"
IDR_DEMO_ICON_SPREADSHEETS  RCDATA "../assets/demo_icons/spreadsheets.png"
IDR_DEMO_ICON_COMMUNICATION RCDATA "../assets/demo_icons/communication.png"
IDR_DEMO_ICON_VIDEO         RCDATA "../assets/demo_icons/video.png"
IDR_DEMO_ICON_ENGINEERING   RCDATA "../assets/demo_icons/engineering.png"
IDR_DEMO_ICON_AI            RCDATA "../assets/demo_icons/ai.png"
IDR_DEMO_ICON_GAMING        RCDATA "../assets/demo_icons/gaming.png"
IDR_DEMO_ICON_OPERATIONS    RCDATA "../assets/demo_icons/operations.png"
IDR_DEMO_ICON_TERMINAL      RCDATA "../assets/demo_icons/terminal.png"
IDR_DEMO_ICON_WEB           RCDATA "../assets/demo_icons/web.png"
IDR_DEMO_ICON_CLOUD         RCDATA "../assets/demo_icons/cloud.png"
IDR_DEMO_ICON_FILES_LIBRARY          RCDATA "../assets/demo_icons/files_library.png"
IDR_DEMO_ICON_FILES_BACKUP           RCDATA "../assets/demo_icons/files_backup.png"
IDR_DEMO_ICON_UTILITIES_MONITOR      RCDATA "../assets/demo_icons/utilities_monitor.png"
IDR_DEMO_ICON_UTILITIES_SHIELD       RCDATA "../assets/demo_icons/utilities_shield.png"
IDR_DEMO_ICON_CREATIVE_PEN           RCDATA "../assets/demo_icons/creative_pen.png"
IDR_DEMO_ICON_CREATIVE_MOTION        RCDATA "../assets/demo_icons/creative_motion.png"
IDR_DEMO_ICON_DEVELOPMENT_IDE        RCDATA "../assets/demo_icons/development_ide.png"
IDR_DEMO_ICON_DEVELOPMENT_GIT        RCDATA "../assets/demo_icons/development_git.png"
IDR_DEMO_ICON_OFFICE_PDF             RCDATA "../assets/demo_icons/office_pdf.png"
IDR_DEMO_ICON_OFFICE_BOARD           RCDATA "../assets/demo_icons/office_board.png"
IDR_DEMO_ICON_COMMUNICATION_MEETING  RCDATA "../assets/demo_icons/communication_meeting.png"
IDR_DEMO_ICON_COMMUNICATION_CONTACTS RCDATA "../assets/demo_icons/communication_contacts.png"
IDR_DEMO_ICON_MEDIA_PLAYER           RCDATA "../assets/demo_icons/media_player.png"
IDR_DEMO_ICON_MEDIA_PODCAST          RCDATA "../assets/demo_icons/media_podcast.png"
IDR_DEMO_ICON_ENGINEERING_CAD        RCDATA "../assets/demo_icons/engineering_cad.png"
IDR_DEMO_ICON_ENGINEERING_CIRCUIT    RCDATA "../assets/demo_icons/engineering_circuit.png"
IDR_DEMO_ICON_AI_ASSISTANT           RCDATA "../assets/demo_icons/ai_assistant.png"
IDR_DEMO_ICON_AI_AUTOMATION          RCDATA "../assets/demo_icons/ai_automation.png"
IDR_DEMO_ICON_GAMING_ARCADE          RCDATA "../assets/demo_icons/gaming_arcade.png"
IDR_DEMO_ICON_GAMING_RACING          RCDATA "../assets/demo_icons/gaming_racing.png"
IDR_DEMO_ICON_OPERATIONS_NETWORK     RCDATA "../assets/demo_icons/operations_network.png"
IDR_DEMO_ICON_OPERATIONS_LOGS        RCDATA "../assets/demo_icons/operations_logs.png"
IDR_DEMO_ICON_WEB_BROWSER            RCDATA "../assets/demo_icons/web_browser.png"
IDR_DEMO_ICON_WEB_CLOUD              RCDATA "../assets/demo_icons/web_cloud.png"
IDR_DEMO_ICON_FILES_DOWNLOAD         RCDATA "../assets/demo_icons/files_download.png"
IDR_DEMO_ICON_UTILITIES_REMOTE       RCDATA "../assets/demo_icons/utilities_remote.png"
IDR_DEMO_ICON_CREATIVE_PALETTE       RCDATA "../assets/demo_icons/creative_palette.png"
IDR_DEMO_ICON_DEVELOPMENT_DATABASE   RCDATA "../assets/demo_icons/development_database.png"
IDR_DEMO_ICON_OFFICE_WRITER          RCDATA "../assets/demo_icons/office_writer.png"
IDR_DEMO_ICON_COMMUNICATION_MAIL     RCDATA "../assets/demo_icons/communication_mail.png"
IDR_DEMO_ICON_MEDIA_PHOTO            RCDATA "../assets/demo_icons/media_photo.png"
IDR_DEMO_ICON_ENGINEERING_SIMULATION RCDATA "../assets/demo_icons/engineering_simulation.png"
IDR_DEMO_ICON_AI_PROMPT              RCDATA "../assets/demo_icons/ai_prompt.png"
IDR_DEMO_ICON_GAMING_QUEST           RCDATA "../assets/demo_icons/gaming_quest.png"
IDR_DEMO_ICON_OPERATIONS_CONTAINER   RCDATA "../assets/demo_icons/operations_container.png"
IDR_DEMO_ICON_WEB_DOWNLOAD           RCDATA "../assets/demo_icons/web_download.png"
IDR_DEMO_ICON_FILES_VAULT            RCDATA "../assets/demo_icons/files_vault.png"
IDR_DEMO_ICON_FILES_TAGS             RCDATA "../assets/demo_icons/files_tags.png"
IDR_DEMO_ICON_FILES_SCANNER          RCDATA "../assets/demo_icons/files_scanner.png"
IDR_DEMO_ICON_FILES_BRIDGE           RCDATA "../assets/demo_icons/files_bridge.png"
IDR_DEMO_ICON_FILES_CABINET          RCDATA "../assets/demo_icons/files_cabinet.png"
IDR_DEMO_ICON_FILES_PACKAGE          RCDATA "../assets/demo_icons/files_package.png"
IDR_DEMO_ICON_FILES_HISTORY          RCDATA "../assets/demo_icons/files_history.png"
IDR_DEMO_ICON_UTILITIES_KEYBOARD     RCDATA "../assets/demo_icons/utilities_keyboard.png"
IDR_DEMO_ICON_UTILITIES_CLEANER      RCDATA "../assets/demo_icons/utilities_cleaner.png"
IDR_DEMO_ICON_CREATIVE_SCULPT        RCDATA "../assets/demo_icons/creative_sculpt.png"
IDR_DEMO_ICON_CREATIVE_STORYBOARD    RCDATA "../assets/demo_icons/creative_storyboard.png"
IDR_DEMO_ICON_CREATIVE_CAMERA        RCDATA "../assets/demo_icons/creative_camera.png"
IDR_DEMO_ICON_DEVELOPMENT_API        RCDATA "../assets/demo_icons/development_api.png"
IDR_DEMO_ICON_DEVELOPMENT_DEBUGGER   RCDATA "../assets/demo_icons/development_debugger.png"
IDR_DEMO_ICON_DEVELOPMENT_PACKAGE    RCDATA "../assets/demo_icons/development_package.png"
IDR_DEMO_ICON_DEVELOPMENT_TEST       RCDATA "../assets/demo_icons/development_test.png"
IDR_DEMO_ICON_DEVELOPMENT_RUNTIME    RCDATA "../assets/demo_icons/development_runtime.png"
IDR_DEMO_ICON_DEVELOPMENT_PROFILER   RCDATA "../assets/demo_icons/development_profiler.png"
IDR_DEMO_ICON_DEVELOPMENT_MODULES    RCDATA "../assets/demo_icons/development_modules.png"
IDR_DEMO_ICON_OFFICE_BINDER          RCDATA "../assets/demo_icons/office_binder.png"
IDR_DEMO_ICON_OFFICE_SCHEDULE        RCDATA "../assets/demo_icons/office_schedule.png"
IDR_DEMO_ICON_OFFICE_DASHBOARD       RCDATA "../assets/demo_icons/office_dashboard.png"
IDR_DEMO_ICON_OFFICE_INBOX           RCDATA "../assets/demo_icons/office_inbox.png"
IDR_DEMO_ICON_COMMUNICATION_VOICE    RCDATA "../assets/demo_icons/communication_voice.png"
IDR_DEMO_ICON_COMMUNICATION_CALL     RCDATA "../assets/demo_icons/communication_call.png"
IDR_DEMO_ICON_COMMUNICATION_RADIO    RCDATA "../assets/demo_icons/communication_radio.png"
IDR_DEMO_ICON_MEDIA_CLAPPER          RCDATA "../assets/demo_icons/media_clapper.png"
IDR_DEMO_ICON_MEDIA_EQUALIZER        RCDATA "../assets/demo_icons/media_equalizer.png"
IDR_DEMO_ICON_MEDIA_DISC             RCDATA "../assets/demo_icons/media_disc.png"
IDR_DEMO_ICON_ENGINEERING_CALIPER    RCDATA "../assets/demo_icons/engineering_caliper.png"
IDR_DEMO_ICON_ENGINEERING_ASSEMBLY   RCDATA "../assets/demo_icons/engineering_assembly.png"
IDR_DEMO_ICON_ENGINEERING_PRINTER    RCDATA "../assets/demo_icons/engineering_printer.png"
IDR_DEMO_ICON_ENGINEERING_TURBINE    RCDATA "../assets/demo_icons/engineering_turbine.png"
IDR_DEMO_ICON_ENGINEERING_MEASURE    RCDATA "../assets/demo_icons/engineering_measure.png"
IDR_DEMO_ICON_ENGINEERING_MATERIAL   RCDATA "../assets/demo_icons/engineering_material.png"
IDR_DEMO_ICON_ENGINEERING_BLUEPRINT  RCDATA "../assets/demo_icons/engineering_blueprint.png"
IDR_DEMO_ICON_ENGINEERING_ROBOTARM   RCDATA "../assets/demo_icons/engineering_robotarm.png"
IDR_DEMO_ICON_ENGINEERING_STRUCTURE  RCDATA "../assets/demo_icons/engineering_structure.png"
IDR_DEMO_ICON_AI_NEURAL              RCDATA "../assets/demo_icons/ai_neural.png"
IDR_DEMO_ICON_AI_BLOCKS              RCDATA "../assets/demo_icons/ai_blocks.png"
IDR_DEMO_ICON_AI_LENS                RCDATA "../assets/demo_icons/ai_lens.png"
IDR_DEMO_ICON_GAMING_CONTROLLER      RCDATA "../assets/demo_icons/gaming_controller.png"
IDR_DEMO_ICON_GAMING_PORTAL          RCDATA "../assets/demo_icons/gaming_portal_v2.png"
IDR_DEMO_ICON_GAMING_STRATEGY        RCDATA "../assets/demo_icons/gaming_strategy.png"
IDR_DEMO_ICON_GAMING_PARTY           RCDATA "../assets/demo_icons/gaming_party_v2.png"
IDR_DEMO_ICON_GAMING_WORLD           RCDATA "../assets/demo_icons/gaming_world.png"
IDR_DEMO_ICON_OPERATIONS_SERVER      RCDATA "../assets/demo_icons/operations_server.png"
IDR_DEMO_ICON_OPERATIONS_PIPELINE    RCDATA "../assets/demo_icons/operations_pipeline.png"
IDR_DEMO_ICON_OPERATIONS_TRACE       RCDATA "../assets/demo_icons/operations_trace.png"
IDR_DEMO_ICON_OPERATIONS_INCIDENT    RCDATA "../assets/demo_icons/operations_incident.png"
IDR_DEMO_ICON_OPERATIONS_CLUSTER     RCDATA "../assets/demo_icons/operations_cluster.png"
